<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyModbusTCP" version="4.5.1" targetFramework="net46" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net46" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net46" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net46" />
  <package id="NModbus" version="3.0.51" targetFramework="net46" />
  <package id="NModbus.Serial" version="3.0.48" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.107.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.107.0" targetFramework="net46" />
  <package id="System.Data.SQLite.EF6" version="1.0.107.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Linq" version="1.0.107.0" targetFramework="net46" />
</packages>